a {
  color: inherit;
  text-decoration: none;
}

figure {
  flex-grow: 0;
  margin: .5rem;
  width: 30%;
}

img {
  margin: .5rem 0;
  flex-grow: 0;
  width: 100%;
}

figcaption {
  font-size: small;
}